#
#   Description:
#
#   This LPF constraint file contains most of the pad placement for the
#   use of a Tachyssema module in a platform board.
#   For direct integration, signal names in the HDL code should exactly
#   match those in this LFP file.
#
# --------------------------------------------------------------------
#
#   Disclaimer:
#
#   This code is intended as a design reference to help the user.
#
#   It is the user's responsibility to formally verify the functionality and 
#   performance of this code when merged with the rest of his design.
#
#   Tachyssema provides no warranty regarding the use or functionality of this code.
#
# --------------------------------------------------------------------
#
#                     Tachyssema SARL
#                     20 rue Jean Moulin
#                     F31700 BLAGNAC
#
#                     web:   http://www.tachyssema.com
#                     email: support@tachyssema.com
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_06_PF101_B.lpf
#       generated for EXTENSION-06 on board PF101 in slot B
# 
# --------------------------------------------------------------------
#
# Octal bus for connector HE200
#
LOCATE COMP "PinHe200_1" SITE "G20" ;
IOBUF PORT "PinHe200_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_2" SITE "F20" ;
IOBUF PORT "PinHe200_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_3" SITE "E20" ;
IOBUF PORT "PinHe200_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_4" SITE "D20" ;
IOBUF PORT "PinHe200_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_5" SITE "A9" ;
IOBUF PORT "PinHe200_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_6" SITE "B8" ;
IOBUF PORT "PinHe200_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_7" SITE "A8" ;
IOBUF PORT "PinHe200_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_8" SITE "B7" ;
IOBUF PORT "PinHe200_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Reference for connector HE200
#
#
# Clocks for connector HE200
#
#
# Octal bus for connector HE201
#
LOCATE COMP "PinHe201_1" SITE "A3" ;
IOBUF PORT "PinHe201_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_2" SITE "B3" ;
IOBUF PORT "PinHe201_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_3" SITE "A4" ;
IOBUF PORT "PinHe201_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_4" SITE "A5" ;
IOBUF PORT "PinHe201_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_5" SITE "C5" ;
IOBUF PORT "PinHe201_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_6" SITE "A6" ;
IOBUF PORT "PinHe201_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_7" SITE "B6" ;
IOBUF PORT "PinHe201_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_8" SITE "A7" ;
IOBUF PORT "PinHe201_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Reference for connector HE201
#
#
# Clocks for connector HE201
#
#
#

