#
#   Description:
#
#   This LPF constraint file contains most of the pad placement for the
#   use of a Tachyssema module in a platform board.
#   For direct integration, signal names in the HDL code should exactly
#   match those in this LFP file.
#
# --------------------------------------------------------------------
#
#   Disclaimer:
#
#   This code is intended as a design reference to help the user.
#
#   It is the user's responsibility to formally verify the functionality and 
#   performance of this code when merged with the rest of his design.
#
#   Tachyssema provides no warranty regarding the use or functionality of this code.
#
# --------------------------------------------------------------------
#
#                     Tachyssema SARL
#                     20 rue Jean Moulin
#                     F31700 BLAGNAC
#
#                     web:   http://www.tachyssema.com
#                     email: support@tachyssema.com
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_06_PF101_A.lpf
#       generated for EXTENSION-06 on board PF101 in slot A
# 
# --------------------------------------------------------------------
#
# Octal bus for connector HE200
#
LOCATE COMP "PinHe200_1" SITE "H21" ;
IOBUF PORT "PinHe200_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_2" SITE "G22" ;
IOBUF PORT "PinHe200_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_3" SITE "G21" ;
IOBUF PORT "PinHe200_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_4" SITE "F22" ;
IOBUF PORT "PinHe200_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_5" SITE "F21" ;
IOBUF PORT "PinHe200_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_6" SITE "D22" ;
IOBUF PORT "PinHe200_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_7" SITE "J20" ;
IOBUF PORT "PinHe200_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_8" SITE "H20" ;
IOBUF PORT "PinHe200_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Reference for connector HE200
#
LOCATE COMP "PinHe200_13" SITE "D18-E18" ;
IOBUF PORT "PinHe200_13" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Clocks for connector HE200
#
LOCATE COMP "PinHe200_15" SITE "P16" ;
IOBUF PORT "PinHe200_15" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe200_16" SITE "P17" ;
IOBUF PORT "PinHe200_16" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Octal bus for connector HE201
#
LOCATE COMP "PinHe201_1" SITE "D4" ;
IOBUF PORT "PinHe201_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_2" SITE "E5" ;
IOBUF PORT "PinHe201_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_3" SITE "C6" ;
IOBUF PORT "PinHe201_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_4" SITE "F6" ;
IOBUF PORT "PinHe201_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_5" SITE "D6" ;
IOBUF PORT "PinHe201_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_6" SITE "C8" ;
IOBUF PORT "PinHe201_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_7" SITE "A2" ;
IOBUF PORT "PinHe201_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_8" SITE "B2" ;
IOBUF PORT "PinHe201_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Reference for connector HE201
#
LOCATE COMP "PinHe201_13" SITE "C9-D11" ;
IOBUF PORT "PinHe201_13" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Clocks for connector HE201
#
LOCATE COMP "PinHe201_15" SITE "G9" ;
IOBUF PORT "PinHe201_15" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHe201_16" SITE "F9" ;
IOBUF PORT "PinHe201_16" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#

