#
#   Description:
#
#   This LPF constraint file contains most of the pad placement for the
#   use of a Tachyssema module in a platform board.
#   For direct integration, signal names in the HDL code should exactly
#   match those in this LFP file.
#
# --------------------------------------------------------------------
#
#   Disclaimer:
#
#   This code is intended as a design reference to help the user.
#
#   It is the user's responsibility to formally verify the functionality and 
#   performance of this code when merged with the rest of his design.
#
#   Tachyssema provides no warranty regarding the use or functionality of this code.
#
# --------------------------------------------------------------------
#
#                     Tachyssema SARL
#                     20 rue Jean Moulin
#                     F31700 BLAGNAC
#
#                     web:   http://www.tachyssema.com
#                     email: support@tachyssema.com
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_07_PFXE_A2.lpf
#       generated for EXTENSION-07 on board PFX in slot A2
# 
# --------------------------------------------------------------------
#
# Interface with Video Decoder: ADV7180
#
# Octal bus for data
#
LOCATE COMP "PinDat_8" SITE "87" ;
IOBUF PORT "PinDat_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_9" SITE "85" ;
IOBUF PORT "PinDat_9" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_10" SITE "74" ;
IOBUF PORT "PinDat_10" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_11" SITE "73" ;
IOBUF PORT "PinDat_11" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_12" SITE "72" ;
IOBUF PORT "PinDat_12" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_13" SITE "69" ;
IOBUF PORT "PinDat_13" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_14" SITE "75" ;
IOBUF PORT "PinDat_14" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_15" SITE "68" ;
IOBUF PORT "PinDat_15" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Real time control
#
LOCATE COMP "PinLlc" SITE "92" ;
IOBUF PORT "PinLlc" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHs" SITE "94" ;
IOBUF PORT "PinHs" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinVs" SITE "102" ;
IOBUF PORT "PinVs" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinField" SITE "101" ;
IOBUF PORT "PinField" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Bus I2C
#
LOCATE COMP "PinSda" SITE "91" ;
IOBUF PORT "PinSda" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinScl" SITE "97" ;
IOBUF PORT "PinScl" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# Misc
#
LOCATE COMP "PinIt" SITE "98" ;
IOBUF PORT "PinIt" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinRst" SITE "104" ;
IOBUF PORT "PinRst" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#

