rvl_alias "clk" "clk";

COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;

#
# Infrastructure signals
#

LOCATE COMP "Clk" SITE "U20" ;
IOBUF PORT "Clk" IO_TYPE=LVCMOS33 ;
LOCATE COMP "Clkn" SITE "U19" ;
IOBUF PORT "Clkn" IO_TYPE=LVCMOS33 ;

LOCATE COMP "Clk_FPGA" SITE "M3" ;
FREQUENCY PORT "Clk_FPGA" 125.000000 MHz ;

#
# Standard IOs
#
LOCATE COMP "Hsync" SITE "AD2" ;
IOBUF PORT "Hsync" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "De" SITE "AD1" ;
IOBUF PORT "De" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "Vsync" SITE "AA1" ;
IOBUF PORT "Vsync" IO_TYPE=LVCMOS33 PULLMODE=UP ;

LOCATE COMP "Led" SITE "E23" ;
IOBUF PORT "Led" IO_TYPE=LVCMOS33 PULLMODE=UP ;

LOCATE COMP "PinDat[0]" SITE "V21" ;
IOBUF PORT "PinDat[0]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[1]" SITE "V22" ;
IOBUF PORT "PinDat[1]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[2]" SITE "AA25" ;
IOBUF PORT "PinDat[2]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[3]" SITE "Y24" ;
IOBUF PORT "PinDat[3]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[4]" SITE "AB24" ;
IOBUF PORT "PinDat[4]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[5]" SITE "AC24" ;
IOBUF PORT "PinDat[5]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[6]" SITE "AD23" ;
IOBUF PORT "PinDat[6]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[7]" SITE "AC23" ;
IOBUF PORT "PinDat[7]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[8]" SITE "AA26" ;
IOBUF PORT "PinDat[8]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[9]" SITE "AB26" ;
IOBUF PORT "PinDat[9]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[10]" SITE "AC26" ;
IOBUF PORT "PinDat[10]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[11]" SITE "AC25" ;
IOBUF PORT "PinDat[11]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[12]" SITE "AE25" ;
IOBUF PORT "PinDat[12]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[13]" SITE "AF24" ;
IOBUF PORT "PinDat[13]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[14]" SITE "AF23" ;
IOBUF PORT "PinDat[14]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[15]" SITE "AE23" ;
IOBUF PORT "PinDat[15]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# HDMI Clk
#

LOCATE COMP "PinDat[16]" SITE "AC2" ;
IOBUF PORT "PinDat[16]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[17]" SITE "AC3" ;
IOBUF PORT "PinDat[17]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[18]" SITE "AA3" ;
IOBUF PORT "PinDat[18]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[19]" SITE "AA4" ;
IOBUF PORT "PinDat[19]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[20]" SITE "Y3" ;
IOBUF PORT "PinDat[20]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[21]" SITE "W3" ;
IOBUF PORT "PinDat[21]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[22]" SITE "T1" ;
IOBUF PORT "PinDat[22]" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat[23]" SITE "U1" ;
IOBUF PORT "PinDat[23]" IO_TYPE=LVCMOS33 PULLMODE=UP ;


BLOCK JTAGPATHS;
