#
#   Description:
#
#   This LPF constraint file contains most of the pad placement for the
#   use of a Tachyssema module in a platform board.
#   For direct integration, signal names in the HDL code should exactly
#   match those in this LFP file.
#
# --------------------------------------------------------------------
#
#   Disclaimer:
#
#   This code is intended as a design reference to help the user.
#
#   It is the user's responsibility to formally verify the functionality and 
#   performance of this code when merged with the rest of his design.
#
#   Tachyssema provides no warranty regarding the use or functionality of this code.
#
# --------------------------------------------------------------------
#
#                     Tachyssema SARL
#                     20 rue Jean Moulin
#                     F31700 BLAGNAC
#
#                     web:   http://www.tachyssema.com
#                     email: support@tachyssema.com
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_11_PFXE_B2.lpf
#       generated for EXTENSION-11 on board PFX in slot B2
# 
# --------------------------------------------------------------------
#
# Interface with HDMI Encoder: ADV7513 (Slot B)
#
# R(23:16) Data
#
LOCATE COMP "PinDat_16" SITE "118" ;
IOBUF PORT "PinDat_16" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_17" SITE "116" ;
IOBUF PORT "PinDat_17" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_18" SITE "122" ;
IOBUF PORT "PinDat_18" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_19" SITE "124" ;
IOBUF PORT "PinDat_19" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_20" SITE "120" ;
IOBUF PORT "PinDat_20" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_21" SITE "121" ;
IOBUF PORT "PinDat_21" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_22" SITE "125" ;
IOBUF PORT "PinDat_22" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat_23" SITE "123" ;
IOBUF PORT "PinDat_23" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# HDMI control
#
LOCATE COMP "PinDe" SITE "115" ;
IOBUF PORT "PinDe" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHSync" SITE "103" ;
IOBUF PORT "PinHSync" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinVSync" SITE "114" ;
IOBUF PORT "PinVSync" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSda" SITE "113" ;
IOBUF PORT "PinSda" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinScl" SITE "110" ;
IOBUF PORT "PinScl" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinInt_N" SITE "111" ;
IOBUF PORT "PinInt_N" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
LOCATE COMP "PinInt_N" SITE "111" ;
IOBUF PORT "PinInt_N" IO_TYPE=LVCMOS33 PULLMODE=UP ;

