#
#   Description:
#
#   This LPF constraint file contains most of the pad placement for the
#   use of a Tachyssema module in a platform board.
#   For direct integration, signal names in the HDL code should exactly
#   match those in this LFP file.
#
# --------------------------------------------------------------------
#
#   Disclaimer:
#
#   This code is intended as a design reference to help the user.
#
#   It is the user's responsibility to formally verify the functionality and 
#   performance of this code when merged with the rest of his design.
#
#   Tachyssema provides no warranty regarding the use or functionality of this code.
#
# --------------------------------------------------------------------
#
#                     Tachyssema SARL
#                     20 rue Jean Moulin
#                     F31700 BLAGNAC
#
#                     web:   http://www.tachyssema.com
#                     email: support@tachyssema.com
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_12_PFXE_B2.lpf
#       generated for EXTENSION-12 on board PFX in slot B2
# 
# --------------------------------------------------------------------
#
# Interface with DVI Decoder: TFP403 (Slot B)
#
# R(23:16) Data
#
LOCATE COMP "PinDat403_16" SITE "116" ;
IOBUF PORT "PinDat403_16" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_17" SITE "118" ;
IOBUF PORT "PinDat403_17" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_18" SITE "124" ;
IOBUF PORT "PinDat403_18" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_19" SITE "122" ;
IOBUF PORT "PinDat403_19" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_20" SITE "121" ;
IOBUF PORT "PinDat403_20" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_21" SITE "120" ;
IOBUF PORT "PinDat403_21" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_22" SITE "123" ;
IOBUF PORT "PinDat403_22" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_23" SITE "125" ;
IOBUF PORT "PinDat403_23" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# TFP control
#
LOCATE COMP "PinDe403" SITE "115" ;
IOBUF PORT "PinDe403" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHSync403" SITE "103" ;
IOBUF PORT "PinHSync403" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinVSync403" SITE "114" ;
IOBUF PORT "PinVSync403" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinPrsn_N" SITE "111" ;
IOBUF PORT "PinPrsn_N" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#

