COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
#
# Infrastructure signals
#
LOCATE COMP "PinClk125" SITE "77" ;# 77 for Xe & Xv1; 97 for Xv2
FREQUENCY PORT "PinClk125" 125.000000 MHz ;
#
# Standard IOs
#
LOCATE COMP "PinLedXv" SITE "83" ;
LOCATE COMP "PinPortRx" SITE "147" ;
LOCATE COMP "PinPortTx" SITE "151" ;
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_12_PFXV_A1.lpf
#       generated for   -12 on board PFX in slot A1
# 
# --------------------------------------------------------------------
#
# Interface with DVI Decoder: TFP403 (Slot A)
#
# G(15:8) & B(7:0) Data
#
LOCATE COMP "PinDat403_0" SITE "177" ;
IOBUF PORT "PinDat403_0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_1" SITE "176" ;
IOBUF PORT "PinDat403_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_2" SITE "174" ;
IOBUF PORT "PinDat403_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_3" SITE "175" ;
IOBUF PORT "PinDat403_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_4" SITE "173" ;
IOBUF PORT "PinDat403_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_5" SITE "170" ;
IOBUF PORT "PinDat403_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_6" SITE "168" ;
IOBUF PORT "PinDat403_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_7" SITE "169" ;
IOBUF PORT "PinDat403_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_8" SITE "196" ;
IOBUF PORT "PinDat403_8" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_9" SITE "193" ;
IOBUF PORT "PinDat403_9" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_10" SITE "195" ;
IOBUF PORT "PinDat403_10" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_11" SITE "189" ;
IOBUF PORT "PinDat403_11" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_12" SITE "192" ;
IOBUF PORT "PinDat403_12" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_13" SITE "187" ;
IOBUF PORT "PinDat403_13" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_14" SITE "188" ;
IOBUF PORT "PinDat403_14" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_15" SITE "186" ;
IOBUF PORT "PinDat403_15" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# TFP Clk
#
LOCATE COMP "PinClk403" SITE "180" ;
IOBUF PORT "PinClk403" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_12_PFXV_B1.lpf
#       generated for EXTENSION-12 on board PFX in slot B1
# 
# --------------------------------------------------------------------
#
# Interface with DVI Decoder: TFP403 (Slot B)
#
# R(23:16) Data
#
LOCATE COMP "PinDat403_16" SITE "197" ;
IOBUF PORT "PinDat403_16" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_17" SITE "198" ;
IOBUF PORT "PinDat403_17" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_18" SITE "202" ;
IOBUF PORT "PinDat403_18" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_19" SITE "201" ;
IOBUF PORT "PinDat403_19" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_20" SITE "208" ;
IOBUF PORT "PinDat403_20" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_21" SITE "206" ;
IOBUF PORT "PinDat403_21" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_22" SITE "207" ;
IOBUF PORT "PinDat403_22" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinDat403_23" SITE "205" ;
IOBUF PORT "PinDat403_23" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
# TFP control
#
LOCATE COMP "PinDe403" SITE "160" ;
IOBUF PORT "PinDe403" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinHSync403" SITE "158" ;
IOBUF PORT "PinHSync403" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinVSync403" SITE "159" ;
IOBUF PORT "PinVSync403" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_10_PFXV_A2.lpf
#       generated for EXTENSION-10 on board PFX in slot A2
# 
# --------------------------------------------------------------------
#
# Interface with DVI Encoder: TFP410 (Slot A)
#
# G(15:8) & B(7:0) Data
#
LOCATE COMP "PinDat410_0" SITE "87" ;
IOBUF PORT "PinDat410_0" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_1" SITE "85" ;
IOBUF PORT "PinDat410_1" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_2" SITE "74" ;
IOBUF PORT "PinDat410_2" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_3" SITE "73" ;
IOBUF PORT "PinDat410_3" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_4" SITE "72" ;
IOBUF PORT "PinDat410_4" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_5" SITE "69" ;
IOBUF PORT "PinDat410_5" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_6" SITE "75" ;
IOBUF PORT "PinDat410_6" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_7" SITE "68" ;
IOBUF PORT "PinDat410_7" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_8" SITE "101" ;
IOBUF PORT "PinDat410_8" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_9" SITE "102" ;
IOBUF PORT "PinDat410_9" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_10" SITE "104" ;
IOBUF PORT "PinDat410_10" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_11" SITE "97" ;# 97 for Xv1
IOBUF PORT "PinDat410_11" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_12" SITE "98" ;
IOBUF PORT "PinDat410_12" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_13" SITE "92" ;
IOBUF PORT "PinDat410_13" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_14" SITE "94" ;
IOBUF PORT "PinDat410_14" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_15" SITE "91" ;
IOBUF PORT "PinDat410_15" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
#
# TFP Clk
#
LOCATE COMP "PinClk410" SITE "76" ;
IOBUF PORT "PinClk410" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_10_PFXV_B2.lpf
#       generated for EXTENSION-10 on board PFX in slot B2
# 
# --------------------------------------------------------------------
#
# Interface with DVI Encoder: TFP410 (Slot B)
#
# R(23:16) Data
#
LOCATE COMP "PinDat410_16" SITE "116" ;
IOBUF PORT "PinDat410_16" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_17" SITE "118" ;
IOBUF PORT "PinDat410_17" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_18" SITE "124" ;
IOBUF PORT "PinDat410_18" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_19" SITE "122" ;
IOBUF PORT "PinDat410_19" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_20" SITE "121" ;
IOBUF PORT "PinDat410_20" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_21" SITE "120" ;
IOBUF PORT "PinDat410_21" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_22" SITE "123" ;
IOBUF PORT "PinDat410_22" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat410_23" SITE "125" ;
IOBUF PORT "PinDat410_23" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
#
# TFP control
#
LOCATE COMP "PinDe410" SITE "115" ;
IOBUF PORT "PinDe410" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinHSync410" SITE "103" ;
IOBUF PORT "PinHSync410" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinVSync410" SITE "114" ;
IOBUF PORT "PinVSync410" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinSda410" SITE "113" ;
IOBUF PORT "PinSda410" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinScl410" SITE "110" ;
IOBUF PORT "PinScl410" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
FREQUENCY PORT "PinClk403" 150.000000 MHz ;
