COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
BLOCK INTERCLOCKDOMAIN PATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
#
# Infrastructure signals
#
LOCATE COMP "PinClk125" SITE "77" ;# 77 xe & xv1; 97 xv2
FREQUENCY PORT "PinClk125" 125.000000 MHz ;
#
# Standard IOs
#
LOCATE COMP "PinLedXv" SITE "83" ;
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_03_PFXV_B2.lpf
#       generated for EXTENSION-03 on board PFX in slot B2
# 
# --------------------------------------------------------------------
#
#
# Specific IOs
#
LOCATE COMP "PinPortTx" SITE "120" ;
LOCATE COMP "PinPortRx" SITE "125" ;
# --------------------------------------------------------------------
#
#   Constraint file EXT_10_PFXV_A1.lpf
#       generated for EXTENSION-10 on board PFXE in slot A1
# 
# --------------------------------------------------------------------
#
# Interface with DVI Encoder: TFP410 (Slot A)
#
# G(15:8) & B(7:0) Data
#
LOCATE COMP "PinDat_0" SITE "177" ;
IOBUF PORT "PinDat_0" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_1" SITE "176" ;
IOBUF PORT "PinDat_1" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_2" SITE "174" ;
IOBUF PORT "PinDat_2" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_3" SITE "175" ;
IOBUF PORT "PinDat_3" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_4" SITE "173" ;
IOBUF PORT "PinDat_4" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_5" SITE "170" ;
IOBUF PORT "PinDat_5" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_6" SITE "168" ;
IOBUF PORT "PinDat_6" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_7" SITE "169" ;
IOBUF PORT "PinDat_7" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_8" SITE "196" ;
IOBUF PORT "PinDat_8" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_9" SITE "193" ;
IOBUF PORT "PinDat_9" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_10" SITE "195" ;
IOBUF PORT "PinDat_10" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_11" SITE "189" ;
IOBUF PORT "PinDat_11" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_12" SITE "192" ;
IOBUF PORT "PinDat_12" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_13" SITE "187" ;
IOBUF PORT "PinDat_13" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_14" SITE "188" ;
IOBUF PORT "PinDat_14" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_15" SITE "186" ;
IOBUF PORT "PinDat_15" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
#
# TFP Clk
#
LOCATE COMP "PinClk" SITE "180" ;
IOBUF PORT "PinClk" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_10_PFXV_B1.lpf
#       generated for EXTENSION-10 on board PFX in slot B1
# 
# --------------------------------------------------------------------
#
# Interface with DVI Encoder: TFP410 (Slot B)
#
# R(23:16) Data
#
LOCATE COMP "PinDat_16" SITE "197" ;
IOBUF PORT "PinDat_16" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_17" SITE "198" ;
IOBUF PORT "PinDat_17" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_18" SITE "202" ;
IOBUF PORT "PinDat_18" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_19" SITE "201" ;
IOBUF PORT "PinDat_19" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_20" SITE "208" ;
IOBUF PORT "PinDat_20" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_21" SITE "206" ;
IOBUF PORT "PinDat_21" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_22" SITE "207" ;
IOBUF PORT "PinDat_22" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinDat_23" SITE "205" ;
IOBUF PORT "PinDat_23" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
#
# TFP control
#
LOCATE COMP "PinDe" SITE "160" ;
IOBUF PORT "PinDe" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinHSync" SITE "158" ;
IOBUF PORT "PinHSync" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinVSync" SITE "159" ;
IOBUF PORT "PinVSync" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=4 ;
LOCATE COMP "PinSda" SITE "157" ;
IOBUF PORT "PinSda" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinScl" SITE "164" ;
IOBUF PORT "PinScl" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#

