#
#   Description:
#
#   This LPF constraint file contains most of the pad placement for the
#   use of a Tachyssema module in a platform board.
#   For direct integration, signal names in the HDL code should exactly
#   match those in this LFP file.
#
# --------------------------------------------------------------------
#
#   Disclaimer:
#
#   This code is intended as a design reference to help the user.
#
#   It is the user's responsibility to formally verify the functionality and 
#   performance of this code when merged with the rest of his design.
#
#   Tachyssema provides no warranty regarding the use or functionality of this code.
#
# --------------------------------------------------------------------
#
#                     Tachyssema SARL
#                     20 rue Jean Moulin
#                     F31700 BLAGNAC
#
#                     web:   http://www.tachyssema.com
#                     email: support@tachyssema.com
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_15_PF120_A.lpf
#       generated for EXTENSION-15 on board PF120 in slot A
# 
# --------------------------------------------------------------------
#
# Adison flex
#
LOCATE COMP "PinSpiSensClk" SITE "AF23" ;
IOBUF PORT "PinSpiSensClk" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSpiSensCs_N" SITE "AE23" ;
IOBUF PORT "PinSpiSensCs_N" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSpiSensMOSI" SITE "AF24" ;
IOBUF PORT "PinSpiSensMOSI" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSpiSensMISO" SITE "AC25" ;
IOBUF PORT "PinSpiSensMISO" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorRst_N" SITE "AB26" ;
IOBUF PORT "PinSensorRst_N" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorClk" SITE "U2" ;
IOBUF PORT "PinSensorClk" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorHSync" SITE "AA2" ;
IOBUF PORT "PinSensorHSync" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorVSync" SITE "AD2" ;
IOBUF PORT "PinSensorVSync" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorData_0" SITE "AF4" ;
IOBUF PORT "PinSensorData_0" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorData_1" SITE "AE4" ;
IOBUF PORT "PinSensorData_1" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorData_2" SITE "AD1" ;
IOBUF PORT "PinSensorData_2" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorData_3" SITE "AA1" ;
IOBUF PORT "PinSensorData_3" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorData_4" SITE "V1" ;
IOBUF PORT "PinSensorData_4" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorData_5" SITE "AA26" ;
IOBUF PORT "PinSensorData_5" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorData_6" SITE "AC26" ;
IOBUF PORT "PinSensorData_6" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSensorData_7" SITE "AE25" ;
IOBUF PORT "PinSensorData_7" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#

