#
#   Description:
#
#   This LPF constraint file contains most of the pad placement for the
#   use of a Tachyssema module in a platform board.
#   For direct integration, signal names in the HDL code should exactly
#   match those in this LFP file.
#
# --------------------------------------------------------------------
#
#   Disclaimer:
#
#   This code is intended as a design reference to help the user.
#
#   It is the user's responsibility to formally verify the functionality and 
#   performance of this code when merged with the rest of his design.
#
#   Tachyssema provides no warranty regarding the use or functionality of this code.
#
# --------------------------------------------------------------------
#
#                     Tachyssema SARL
#                     20 rue Jean Moulin
#                     F31700 BLAGNAC
#
#                     web:   http://www.tachyssema.com
#                     email: support@tachyssema.com
#
# --------------------------------------------------------------------
#
#   Constraint file EXT_13_PFXV_A2.lpf
#       generated for EXTENSION-13 on board PFX in slot A2
# 
# --------------------------------------------------------------------
#
# STM32
#
LOCATE COMP "PinSpiStmMISO" SITE "75" ;
IOBUF PORT "PinSpiStmMISO" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSpiStmClk" SITE "72" ;
IOBUF PORT "PinSpiStmClk" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSpiStmMOSI" SITE "74" ;
IOBUF PORT "PinSpiStmMOSI" IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "PinSpiStmCs_N" SITE "91" ;
IOBUF PORT "PinSpiStmCs_N" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#

